.burn-section{
    font-family: 'M PLUS Rounded 1c', sans-serif;  
  font-style: normal;
}
div::-webkit-scrollbar {
    display:none;
  }
.burn-section{
    background: #edecec;
    height:91%;
}


.burn-areas{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
align-items: center;
height:105px;
}


.burn-areas button{
border:none;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
text-transform: uppercase;
background-color: #edecec;
color: #949494;
}
.burn-areas button .burn-area-text1{
    border:none;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #333333;
    }
    .burn-areas button .burn-area-text{
        border:none;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        
        color: #333333;
        }
        .burn-areas button .burn-area-text0{
            border:none;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            
            color: #949494;
            }



.burn-areas button .burn-capsule1{
background: #E6878A;
border-radius: 25px;
height:10px;
width:140px;
margin-top: 15px;
}
.burn-areas button .burn-capsule{
    background: #93C0B1;
border-radius: 25px;
height:10px;
width:140px;
margin-top: 15px;
}
.burn-areas button .burn-capsule0{
    background: #C2C2C2;
border-radius: 25px;
height:10px;
width:140px;
margin-top: 15px;
}


.burn-area{
    margin: 30px;
}


.burn-question-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
}

.burn-question-area img{ 
    padding-top:240px;
}
.burn-questions{
    
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
height:370px;
width:60%;

overflow-y: scroll;
overflow-x: hidden;
}


.burn-question-title1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    
    margin-bottom: 2px;
    padding-top:20px;
    font-weight: 400;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #333333;
}
.burn-question-title2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
   
    font-weight: 400;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #333333;
}
.burn-q2{
    margin-top:20px;
    margin-bottom:20px;
}

.burn-q-text{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #333333;
}
  

.burn-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
   
}
.burn-btns button{
    border:none;
    background-color: #edecec;
    font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #333333;
}
.burn-ending{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
font-size: 14px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #787878;

}
.burn-area-text1{
    font-weight:'500px' ;
    color: '#333333';
}
.options-row1 hr{
    height:0.5px;
    width:185.33px;
    margin:0px;
    margin-top: 15px;
   
    background-color:  #E4E4E2;;
}
.options1-row1 hr{
    height:0.5px;
    width:185.33px;
    margin:0px;
    margin-top: 15px;
   
    background-color:  #E4E4E2;;
}


.options{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width:100%;
    margin-left:20px;
    margin-bottom:28px;
}



.options-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    width:97%;
    margin-top:5px;
}
.options1-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    width:97%;
    margin-top:5px;
}
.options-row2{
    width:93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
margin-top:5px;



color: #949494;
}

.options-row1 input[type='checkbox']{
    width: 22px;
height: 22px;
    background: #FFFFFF;
border: 2px solid #C2C2C2;
border-radius: 4px;
}
.options1-row1 input[type='checkbox']{
    width: 22px;
height: 22px;
    background: #FFFFFF;
border: 2px solid #C2C2C2;
border-radius: 4px;
}

.often{
    margin-left:22px;
}
.seldom{
    margin-left:15px;
}
.always{
    margin-left:3.5px;
}
.burn-question-heading{
    display: flex;
    flex-direction: row;

}
.burn-question-2-heading{
    display: flex;
    flex-direction: row;

}
.burn-question-title{
    display: flex;
    flex-direction:column;
    width:83%;
    padding-left:140px;
    padding-top:5px;
}
.burn-question-2-title{
    display: flex;
    flex-direction:column;
    width:100%;
    padding-left:140px;
    padding-top:5px;
}
.burn-question-heading .camera{
    width:15%;
    padding-right:10px;
}
.burn-question-heading .camera img{
    padding:0;
    height:15.2px;
    width:22px;
}
.burn-section .camera{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:50px;
    width:17%;
    font-weight: 800;
font-size: 12px;
line-height: 18px;

/* identical to box height */
color: #E6878A;
}
.burn-section .camera2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:15%;
    width:100%;
    font-weight: 800;
font-size: 12px;
line-height: 18px;
padding-left:30px;
padding-right: 15px;
/* identical to box height */


color: #E6878A;

}


.burn-section .camera img{
padding:0;
height:15.2px;
width:22px;
}

.burn-section .camera2 img{
padding:0;
height:15.2px;
width:22px;
}
.burn-questions-2-col1{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    width:70%;
}
.burn-questions-2-col2{
    display: flex;
    flex-direction: column;
    height:100%;
    width:30%;
}
.burn-questions-2{
    
    background:url('../../Assets/Burnimages/webcam.gif');
    background-repeat: no-repeat;
    background-size: cover;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
height:350px;
width:60%;
display: flex;
flex-direction: row;

}
.result-wrapper{
    display: flex;
    flex-direction:column;
    align-items:center;
    height:92%;
    width:95%;
    margin-left:2.55%;
    margin-top:2%;
    background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(199, 199, 201, 0.25);
border-radius: 8px;
}

.result-row1{
    display: flex;
    flex-direction:row;
    height:10%;
    width:100%;
    padding-left:2%;
    padding-right:2%;
}
.result-row1 .text{
  width:50%;
  display:flex;
  flex-direction: row;
  align-items:center;
  font-weight: 800;
font-size: 16px;
line-height: 15px;
/* or 94% */

display: flex;
align-items: center;

color: #333333;
}
.result-row1 .image{
    width:50%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;

}
.result-row1 .image img{
    padding: 0px;
}
.result-row2{
    height:90%;
    width:100%;
    display:flex;
    flex-direction: row;
}
.result-row2-col1{
    width:33%;
    height:100%;
    padding-top:2%;
    padding-left:2%;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
flex-direction:column;
align-items: center;

color: #333333;
}
.result-row2-col1 .text1{
    padding-bottom:3%;
}
.result-row2-col1 .text2{
    padding-bottom:8%;
}
.result-row2-col1 button{
    background: #FFFFFF;
    width:50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    flex-direction: row;
    justify-content: center;;
    align-items: center;
    text-align: center;
    color: #6F9792;
    border: 2px solid #6F9792;
    border-radius: 4px;
    height:11%;
}
.result-row2-col2{
    width:67%;
    height:100%;
    padding-left:3%;
    padding-right:2%;
}
.result-area{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.emotion-analysis img {
    padding: 0px;
    height: 30px;
    width: 30px;
}
.burn-title{
    display: flex;
    width: 100%;
  
  
    padding-top:17px;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-weight: 500;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #6F9792;

}

.burn-title .row1{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    color: #333333;
    width:100%;
    margin-bottom:9px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.burn-title .row1 .col1{
    width:45.5%;
    padding-left:3%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
    
}
.burn-title .row1 .col2{
    width:54.5%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
}
.burn-title .row2{
    font-weight: 500;
font-size: 22px;
line-height: 36px;
/* identical to box height */
width:61%;
display: flex;
flex-direction:row;
justify-content: center;;
align-items: center;
text-align: center;

color: #487C6F;}
